// Global styles

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  line-height: 1.5em;
  color: $default-color;
  background-color: #fff;
  @extend %dms-regular;
}

.wrapper {
  overflow-x: hidden;
}

.main {
  min-height: calc(100vh - 450px);
}

.container-box {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1800px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.bar {
  margin-bottom: 70px;
  text-align: center;
  @extend %dms-bold;

  &__title {
    margin-bottom: 37px;
    font-size: 36px;
    color: $product-title;
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item + .bar__item {
    margin-left: 30px;
  }

  &__btn {
    color: #8b8b8b;
    transition: color 0.6s;
    cursor: pointer;

    &:hover {
      color: $btn-color;
    }
  }

  .mixitup-control-active {
    color: $product-title;
  }
}
