// Global styles

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: $default-color;
  background-color: #fff;
  @extend %dms-regular;
}

.wrapper {
  overflow-x: hidden;
}

.main {
  min-height: calc(100vh - 450px);
}

.container,
.container-box {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.container-box {
  max-width: 1800px;
}

.logo {
  font-weight: 500;
  transition: transform 0.6s;

  &__pic {
    max-width: 146px;
    max-height: 39px;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.title {
  margin-bottom: 17px;
  font-size: 36px;
  color: $product-title;
}
