html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: $default-color;
  background-color: #fff;
  @extend %dms-regular;
}

.wrapper {
  overflow-x: hidden;
}

.main {
  min-height: calc(100vh - 450px);
}

.container,
.container-box {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.container-box {
  max-width: 1800px;
}

.title-h1 {
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 36px;
  line-height: 1;
  @extend %rubik-regular;
}

.title {
  @include txt($lc: 2);
  margin-bottom: 17px;
  font-size: 36px;
  text-align: center;
  color: $product-title;
}

.about-title {
  margin-bottom: 30px;
  font-weight: 700;
  color: $title-color;
  @extend %dms-regular;
}

.team-title {
  margin-bottom: 15px;
}

.logo {
  &__pic {
    max-height: 50px;
    object-fit: cover;
  }
  @include mq("768") {
    margin: 0 auto 15px;
  }
}

.star,
.details__star {
  margin: 5px 0;
  padding: 0;
}

.details__star {
  margin-bottom: 30px;
}
