// Variables
$accent-color: #436372;
$default-color: #585858;
$title-color: #243f4d;
$btn-color: #a3bbc8;
$btn-op: rgba(163, 187, 200, 0.2);
$bg-color: #fcd7b6;
$bg-op: rgba(252, 215, 182, 0.2);
$footer-color: #7b7b7b;
$product-title: #191919;
$our-title: #262626;
$date-color: #222933;

%dms-regular {
  font-family: "DMSans-Regular", sans-serif;
  font-weight: 400;
}

%dms-bold {
  font-family: "DMSans-Bold", sans-serif;
  font-weight: 700;
}

%rubik-regular {
  font-family: "Rubik-Regular", sans-serif;
  font-weight: 400;
}

%rubik-medium {
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 500;
}

%checkbox-hid {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}
