.footer {
  font-size: 14px;
  @extend %rubik-regular;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 65px 0;
  }

  &__item--contact {
    display: flex;
    flex-direction: column;
    min-width: 200px;
  }

  &__address {
    margin-top: 15px;
  }

  &__address-row {
    display: inline-block;
    margin-top: 10px;
    text-transform: uppercase;
  }

  &__middle {
    display: flex;
    justify-content: space-between;
    margin: 0 210px 0 100px;
    width: 100%;
    max-width: 390px;
  }

  &__title {
    margin: 15px 0;
    font-size: 16px;
    text-transform: uppercase;
    color: #1f2044;
    @extend %dms-bold;
  }

  &__list-item {
    margin-bottom: 10px;
    line-height: 1.6;
  }

  &__text {
    margin-bottom: 35px;
    width: 270px;
    line-height: 1.8;
  }

  &__form {
    display: flex;
  }

  &__info {
    display: none;
  }

  &__address,
  &__address-link,
  &__link,
  &__text {
    color: $footer-color;
  }

  &__input {
    outline: $accent-color;
    border: none;
    padding: 15px 70px 15px 15px;
    width: 100%;
    min-width: 170px;
    max-height: 40px;
    background-color: $bg-op;

    &::placeholder {
      font-size: 12px;
      color: $title-color;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    min-width: 100px;
    max-height: 40px;
    color: #fff;
    background-color: $btn-color;
    transition: background-color 0.6s;
    cursor: pointer;

    &:hover {
      background-color: $title-color;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $btn-color;
    min-height: 90px;
  }

  &__copy {
    cursor: default;
  }

  &__nav {
    display: flex;
    margin-right: 10px;
  }

  &__nav-link {
    color: $footer-color;
  }

  &__nav-item {
    & + & {
      margin-left: 15px;
      border-left: 1px solid $footer-color;
      padding-left: 15px;
    }
  }

  &__address-link,
  &__link,
  &__nav-link {
    transition: color 0.6s;
    &:hover {
      color: $bg-color;
    }
  }
}
