.footer {
  font-size: 14px;
  @extend %rubik-regular;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 75px 0 65px;
  }

  &__item--contact {
    max-width: 200px;
  }

  &__address {
    margin-top: 23px;
  }

  &__address-row {
    display: inline-block;
    margin-top: 10px;
    text-transform: uppercase;
  }

  &__middle {
    display: flex;
    justify-content: space-between;
    margin: 0 210px 0 100px;
    width: 100%;
    max-width: 390px;
  }

  &__title {
    margin: 15px 0;
    font-size: 16px;
    text-transform: uppercase;
    color: #1f2044;
    @extend %dms-bold;
  }

  &__list-item {
    margin-bottom: 8px;
  }

  &__text {
    margin-bottom: 35px;
    width: 270px;
  }

  &__form {
    display: flex;
  }

  &__address,
  &__address-link,
  &__link,
  &__text {
    color: #7b7b7b;
  }

  &__input {
    border: none;
    padding: 15px 75px 15px 15px;
    width: 100%;
    max-width: 170px;
    background-color: $bg-color;
    opacity: 0.2;

    &::placeholder {
      font-size: 12px;
      color: $title-color;
      opacity: 1;
    }
  }

  &__btn {
    margin-left: -5px;
    border: none;
    padding: 15px 17px;
    text-transform: uppercase;
    color: #fff;
    background-color: $btn-color;
    cursor: pointer;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $btn-color;
    height: 90px;
  }

  &__menu {
    display: flex;
    margin-right: 10px;
  }

  &__menu-item + .footer__menu-item {
    margin-left: 15px;
    border-left: 1px solid #7b7b7b;
    padding-left: 15px;
  }

  &__address-link,
  &__link,
  &__menu-link {
    transition: color 1s;
    &:hover {
      color: $bg-color;
    }
  }
}
