.our {
  position: relative;
  margin-bottom: 270px;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
  }

  &__title {
    font-size: 36px;
    color: $product-title;
    @extend %dms-bold;
  }

  &__link {
    position: relative;
    margin-right: 18px;
    font-weight: 500;
    font-size: 18px;
    color: #262626;
    transition: color 0.6s;
    cursor: pointer;

    &::after {
      @include pseudo();
      @include bg();
      right: -18px;
      bottom: 5px;
      width: 7px;
      height: 15px;
      background-image: url("../images/src/our-arrow.svg");
    }

    &:hover {
      color: $bg-color;
    }
  }

  &__middle {
    display: flex;
  }

  &__item {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    max-width: 370px;
    background-color: #fff;
    transition: transform 0.6s;

    &:hover {
      transform: scale(1.02);
    }
  }

  &__item + .our__item {
    margin-left: 30px;
  }

  &__pic {
    margin-bottom: 35px;
  }

  &__tag {
    position: absolute;
    left: 30px;
    top: 235px;
    display: block;
    border-radius: 20px;
    padding: 4px 0;
    width: 100px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: $btn-color;
    @extend %dms-bold;
  }

  &__text {
    flex-grow: 1;
    margin: 0 45px 17px 30px;
    font-weight: 500;
    font-size: 18px;
    color: $our-title;
  }

  &__item-bottom {
    display: inline-block;
    margin-left: 30px;
    border-top: 1px solid #e0e0e0;
    padding-bottom: 25px;
    font-size: 12px;
    text-transform: uppercase;
    color: $date-color;
    @extend %rubik-regular;
  }

  &__date {
    margin-right: 30px;
  }

  &__partners {
    position: absolute;
    top: 318px;
    width: 100%;
    background-color: $bg-op;
  }

  &__partners-wrapper {
    display: flex;
    align-items: flex-end;
    min-height: 435px;
  }

  &__partners-inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto 0 80px;
    width: 100%;
  }

  &__partners-pic {
    max-height: 90px;
  }
}
