.partners {
  position: absolute;
  top: 318px;
  width: 100%;
  background-color: $bg-op;
  @include mq("1248") {
    position: static;
  }

  &__wrapper {
    display: flex;
    align-items: flex-end;
    min-height: 435px;
    @include mq("1248") {
      min-height: 220px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto 0 64px;
    width: 100%;
    @include mq("1248") {
      flex-wrap: wrap;
      margin: 0 auto;
      max-width: 300px;
    }
  }

  &__item {
    @include mq("1248") {
      margin: 20px 15px 25px;
    }
  }

  &__pic {
    max-height: 90px;
  }

  &.partners-min {
    position: static;

    .partners__wrapper {
      min-height: 250px;
    }

    .partners__list {
      margin: auto 0;
    }
  }
}
