.partners {
  position: absolute;
  top: 318px;
  width: 100%;
  background-color: $bg-op;

  &__wrapper {
    display: flex;
    align-items: flex-end;
    min-height: 435px; //FIXME не нужно здезь мин хайт
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto 0 64px;
    width: 100%;
  }

  &__pic {
    max-height: 90px;
  }

  &.partners-min {
    position: static;

    .partners__wrapper {
      min-height: 250px;
    }

    .partners__list {
      margin: auto 0;
    }
  }
}
