.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 15px 40px;
  padding: 30px 15px;
  min-width: 270px;
  box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
  text-align: center;
  transform: translateX(15px);
  transition: box-shadow 0.6s;
  @include mq("768") {
    min-width: 320px;
  }
  @include mq("560") {
    margin-left: -10px;
    min-width: 270px;
  }

  &:hover {
    border-radius: 6px;
    box-shadow: 0 6px 47px 3px $accent-color;

    .product__menu {
      transform: translateY(0);
    }
  }

  &.product-related {
    margin-left: -10px;

    &:hover {
      border-radius: 0;
      box-shadow: none;
    }
  }

  &__wrapper {
    position: relative;
    overflow-y: hidden;
    min-height: 237px;
  }

  &__click {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
  }

  &__pic {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: 0 auto;
    object-fit: contain;
    transform: translateY(-50%);
  }

  &__info {
    margin-top: 30px;
    line-height: 1;
  }

  &__name {
    overflow: hidden;
    margin-bottom: 15px;
    max-height: 55px;
    font-weight: 500;
    color: $title-color;
  }

  &__star {
    display: none;
  }

  &__price {
    color: $btn-color;
    @extend %dms-bold;
  }

  &__link,
  &__btn {
    &--circle {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      min-width: 45px;
      min-height: 45px;
      box-shadow: 0 0 1px 1px rgba(1, 0, 0, 0.41);
      background-color: #fff;
      transition: background-color 0.6s;
      cursor: pointer;

      &:hover {
        background-color: $btn-color;

        .product__icon {
          fill: #fff;
        }
      }
    }
  }

  &__menu {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 170px;
    transform: translateY(500%);
    transition: 1s;
  }

  &__icon {
    max-width: 21px;
    max-height: 22px;
    fill: $btn-color;
  }

  &__btn-wrapper {
    display: none;
  }

  &.product__product-list {
    flex-direction: row;
    box-shadow: none;
    text-align: left;
    @extend %rubik-regular;

    .product__wrapper {
      position: static;
      margin-right: 55px;
      min-height: 500px;
    }

    .product__click {
      position: static;
      display: flex;
      border: 2px solid #f2f2f2;
      padding: 15px;
      height: 100%;
      min-width: 370px;
    }

    .product__pic {
      position: static;
      width: 80%;
      object-fit: contain;
      transform: none;
    }

    .product__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .product__name {
      overflow: hidden;
      margin-bottom: 20px;
      max-width: 410px;
      max-height: 80px;
      font-size: 40px;
      color: #333;
    }

    .product__star {
      display: block;
      margin-bottom: 30px;
      padding: 0;
    }

    .product__price {
      margin-bottom: 30px;
      font-size: 30px;
      color: #333;
      @extend %rubik-regular;
    }

    .product__text {
      overflow: hidden;
      margin-bottom: 35px;
      max-width: 410px;
      max-height: 145px;
      line-height: 1.5;
      color: $title-color;
    }

    .product__btn-wrapper {
      display: flex;
      justify-content: space-between;
      max-width: 110px;
    }

    .product__footer-btn {
      width: 50px;
      height: 50px;
      box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
      background-color: #fff;
      transition: background-color 0.8s;
      cursor: pointer;

      &:hover {
        background-color: $btn-color;

        .product__img {
          path {
            fill: #fff;
          }
        }
      }
    }

    .product__img {
      max-width: 22px;
      max-height: 21px;
      transition: color 0.8s;
    }

    .product__menu {
      display: none;
    }
  }
}
