.related {
  &__title {
    margin-bottom: 65px;
    text-align: left;
    color: $title-color;
  }

  &__slide {
    //TODO слайдер не работает из-за slidesToShow: 4, если его отключить то появляются стрелки и слайдер скроллится
    max-width: 376px;

    &:not(:last-child) {
      margin-right: 25px;
    }
  }
}
