.related {
  &__title {
    margin-bottom: 65px;
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
    text-align: left;
    color: $title-color;
  }

  &__slide {
    max-width: 376px;

    &:not(:last-child) {
      margin-right: 25px;
    }
  }
}
