.trend-slider {
  position: relative;

  &__item {
    max-height: 820px;
    background-color: $bg-color;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
    padding-bottom: 75px;
    min-width: 44%;
    min-height: 820px;
    @include mq("1024") {
      min-height: 600px;
    }
    @include mq("768") {
      padding-bottom: 15px;
      min-height: 450px;
    }
  }

  &__title {
    overflow: hidden;
    margin-bottom: 35px;
    max-height: 205px;
    font-weight: 600;
    font-size: 72px;
    line-height: 1;
    text-transform: uppercase;
    color: $title-color;
    @extend %rubik-medium;
    @include mq("1024") {
      font-size: 62px;
    }
    @include mq("768") {
      font-size: 52px;
    }
  }

  &__text {
    overflow: hidden;
    margin-bottom: 40px;
    max-width: 370px;
    max-height: 370px;
    font-size: 18px;
    color: $accent-color;
    @extend %rubik-regular;
  }

  &__link {
    position: relative;
    border: transparent;
    padding: 23px 100px 20px 25px;
    max-width: 200px;
    font-size: 15px;
    line-height: 1.2;
    color: #fff;
    background-color: $btn-color;
    transition: background-color 1s;
    @extend %rubik-medium;

    &::after {
      @include pseudo();
      @include bg();
      right: 17px;
      bottom: 25px;
      min-width: 22px;
      min-height: 10px;
      background-image: url("../images/src/btn-arrow.svg");
    }

    &:hover {
      background-color: $title-color;
    }
  }

  &__picture {
    max-height: 600px;
    object-fit: cover;
    @include mq("1024") {
      width: 50%;
    }
    @include mq("768") {
      width: 0;
    }
  }
}
