@import "../components/header";
@import "../components/top";
@import "../components/breadcrumbs";
@import "../components/info";
@import "../components/advantages";

.about-title {
  margin-bottom: 30px;
  font-weight: 700;
  color: $title-color;
  @extend %dms-regular;
}

.team-title {
  margin-bottom: 15px;
}

.team {
  display: flex;
  margin: 120px 0 70px;

  &__inner {
    display: flex;
  }

  &__text {
    max-width: 300px;
  }

  &__desc {
    margin-bottom: 42px;
    line-height: 1.9;
    color: $title-color;
    @extend %rubik-regular;
  }

  &__link {
    position: relative;
    border-radius: 3px;
    padding: 15px 60px 15px 15px;
    font-size: 15px;
    line-height: 1;
    color: #fff;
    background-color: $btn-color;
    transition: background-color 0.8s;
    @extend %rubik-medium;

    &::after {
      @include pseudo();
      @include bg();
      right: 25px;
      bottom: 18px;
      width: 15px;
      height: 10px;
      background-image: url("../images/src/ar-btn.svg");
    }

    &:hover {
      background-color: $title-color;
    }
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;
    max-width: 830px;
  }
}

.person-card {
  position: relative;
  margin: 0 0 99px 30px;
  max-width: 370px;
  transition: transform 0.8s;

  &:hover {
    transform: scale(1.05);

    .person-card__bottom {
      background-color: $btn-color;
    }
  }

  &__bottom {
    @include pseudo();
    bottom: -60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
    min-width: 330px;
    box-shadow: 0 6px 57px 0 rgba(37, 37, 37, 0.05);
    background-color: #fff;
    transition: background-color 0.8s;
  }

  &__info {
    cursor: default;
  }

  &__name {
    display: block;
    font-weight: 700;
    font-size: 22px;
    color: $accent-color;
  }

  &__desc {
    color: #565872;
    @extend %rubik-regular;
  }

  &__item {
    display: flex;
  }

  &__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 41px;
    height: 41px;
    background-color: #f6f6f6;
    transition: background-color 0.8s;

    &+& {
      margin-left: 5px;
    }

    &:hover {
      background-color: $bg-color;
    }
  }

  &__icon {
    width: 22px;
    max-height: 17px;
  }
}

@import "../components/our";
@import "../components/news";
@import "../components/partners";
@import "../components/footer";