@import "../components/header";
@import "../components/slider";
@import "../components/about";

.products {
  margin-bottom: 90px;

  &__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px 150px;
  }
}

@import "../components/bar";
@import "../components/product";
@import "../components/merchandise";

.design {
  &__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px 90px;
  }
}

@import "../components/design-card";
@import "../components/video";
@import "../components/our";
@import "../components/footer";
