.product-list {
  margin: 120px 0;

  &__inner {
    display: flex;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px 150px;

    &--second {
      margin-bottom: 70px;
    }
  }
}
