<ul class="about">
  <ul class="about__item">
    <li class="about__img-wrapper">
      <svg class="about__img">
        <use xlink:href="images/src/sprite.svg#twfo"></use>
      </svg>
    </li>

    <ul class="about__info">
      <li class="about__title">
        Support 24/7.
      </li>
      <li class="about__text">
        Contact us 24 hours a day,
        7 days a week.
      </li>
    </ul>
  </ul>

  <ul class="about__item">
    <li class="about__img-wrapper">
      <svg class="about__img">
        <use xlink:href="images/src/sprite.svg#track"></use>
      </svg>
    </li>

    <ul class="about__info">
      <li class="about__title">
        Delivery.
      </li>
      <li class="about__text">
        Free shipping on all US order.
      </li>
    </ul>
  </ul>

  <ul class="about__item">
    <li class="about__img-wrapper">
      <svg class="about__img">
        <use xlink:href="images/src/sprite.svg#card"></use>
      </svg>
    </li>

    <ul class="about__info">
      <li class="about__title">
        100% Payment secure
      </li>
      <li class="about__text">
        We ensure secure payment
        with PEV.
      </li>
    </ul>
  </ul>
</ul>