<div class="advantages">
  <div class="container">
    <ul class="advantages__list">
      <li class="advantages__item">
        <svg class="advantages__img">
          <use xlink:href="images/src/sprite.svg#monitor"></use>
        </svg>
        <span class="advantages__numbers">99%</span>
        <p class="advantages__desc">Satisﬁed Clients Rate</p>
      </li>

      <li class="advantages__item advantages__item--bus">
        <svg class="advantages__img">
          <use xlink:href="images/src/sprite.svg#bus"></use>
        </svg>
        <span class="advantages__numbers">5020+</span>
        <p class="advantages__desc">Products Delivered</p>
      </li>

      <li class="advantages__item">
        <svg class="advantages__img">
          <use xlink:href="images/src/sprite.svg#phone"></use>
        </svg>
        <span class="advantages__numbers">23hr</span>
        <p class="advantages__desc">Daily Working Time</p>
      </li>

      <li class="advantages__item">
        <svg class="advantages__img">
          <use xlink:href="images/src/sprite.svg#priz"></use>
        </svg>
        <span class="advantages__numbers">140+</span>
        <p class="advantages__desc">Brands in Store</p>
      </li>
    </ul>
  </div>
</div>