<div class="bar">
  <ul class="bar__list">
    <li class="bar__item">
      <button class="bar__btn" data-filter="all" type="button">All</button>
    </li>

    <li class="bar__item">
      <button class="bar__btn" data-filter=".category-a" type="button">Furnitures</button>
    </li>

    <li class="bar__item">
      <button class="bar__btn" data-filter=".category-b" type="button">Chairs</button>
    </li>

    <li class="bar__item">
      <button class="bar__btn" data-filter=".category-c" type="button">Lighting</button>
    </li>

    <li class="bar__item">
      <button class="bar__btn" data-filter=".category-d" type="button">Decor</button>
    </li>
  </ul>
</div>