<div class="bar">
  <h2 class="title">Products of the week</h2>
  <ul class="bar__list">
    <li class="bar__item">
      <button class="bar__btn" data-filter="all">All</button>
    </li>

    <li class="bar__item">
      <button class="bar__btn" data-filter=".category-a">Furnitures</button>
    </li>

    <li class="bar__item">
      <button class="bar__btn" data-filter=".category-b">Chairs</button>
    </li>

    <li class="bar__item">
      <button class="bar__btn" data-filter=".category-c">Lighting</button>
    </li>

    <li class="bar__item">
      <button class="bar__btn" data-filter=".category-d">Decor</button>
    </li>
  </ul>
</div>