<section class="creative">
  <div class="container">
    <div class="creative__inner">
      <img class="creative__img" src="images/src/info-bg.jpg" alt="фото">
      <div class="creative__content">
        <div class="creative__top-area">
          <span class="creative__years">12</span>
          <ul class="creative__list">
            <li class="creative__item">Years</li>
            <li class="creative__item">Experience</li>
            <li class="creative__item">Working</li>
          </ul>
        </div>

        <div class="creative__text-area">
          <h2 class="title about-title">
            Mission of our creative house
          </h2>
          <div class="creative__text-wrapper">
            <p class="creative__text">
              consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in
              reprehenderit in voluptate velit esse cillum
            </p>
          </div>
        </div>

        <ul class="creative__area">
          <li class="creative__list">
            <div class="creative__icon">
              <svg class="creative__img">
                <use xlink:href="images/src/sprite.svg#list"></use>
              </svg>
            </div>

            <div class="creative__item">
              <span class="creative__numbers">520+</span>
              <span class="creative__desc">Projects</span>
            </div>
          </li>

          <li class="creative__list">
            <div class="creative__icon">
              <svg class="creative__img">
                <use xlink:href="images/src/sprite.svg#rupor"></use>
              </svg>
            </div>

            <div class="creative__item">
              <span class="creative__numbers">$4M</span>
              <span class="creative__desc">Revenue</span>
            </div>
          </li>

          <li class="creative__list">
            <div class="creative__icon">
              <svg class="creative__img">
                <use xlink:href="images/src/sprite.svg#nf"></use>
              </svg>
            </div>

            <div class="creative__item">
              <span class="creative__numbers">250</span>
              <span class="creative__desc">Awards</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>