<section class="details">
  <div class="container">
    <div class="details__inner">
      <div class="details__slider">
        <ul class="details__column">
          <li class="details__item-column">
            <div class="details__img-wrapper">
              <img class="details__img" src="images/src/products/slides/1.jpg" alt="слайд">
            </div>
          </li>

          <li class="details__item-column">
            <div class="details__img-wrapper">
              <img class="details__img" src="images/src/products/slides/2.jpg" alt="слайд">
            </div>
          </li>

          <li class="details__item-column">
            <div class="details__img-wrapper">
              <img class="details__img" src="images/src/products/slides/3.jpg" alt="слайд">
            </div>
          </li>
        </ul>

        <ul class="details__slide">
          <li class="details__item-slide">
            <div class="details__pic-wrapper">
              <img class="details__pic" src="images/src/products/slides/4.jpg" alt="слайд">
            </div>
          </li>

          <li class="details__item-slide">
            <div class="details__pic-wrapper">
              <img class="details__pic" src="images/src/products/slides/2.jpg" alt="слайд">
            </div>
          </li>

          <li class="details__item-slide">
            <div class="details__pic-wrapper"><img class="details__pic" src="images/src/products/slides/3.jpg"
                alt="слайд"></div>
          </li>
        </ul>
      </div>

      <div class="details__content">
        <h2 class="details__title">Pendant lamp</h2>

        <div class="details__star" data-rateyo-rating="4"></div>

        <span class="details__price">23$</span>

        <p class="details__text">
          consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        </p>

        <form class="details__form" action="#">
          <label class="details__label">
            <input class="details__input" type="number" value="1" min="1">
          </label>

          <label class="details__label">
            <button class="details__btn" type="submit">
              Add to cart
            </button>
          </label>
        </form>

        <ul class="details__tags">
          <li class="details__item">
            <span class="details__tag">
              SKU: 014
            </span>
          </li>

          <li class="details__item">
            <span class="details__tag">
              Category:
            </span>
            <a class="details__link" href="#">Lights</a>
          </li>

          <li class="details__item">
            <span class="details__tag">
              Tag:
            </span>
            <a class="details__link" href="#">Decorative</a>
          </li>
        </ul>
      </div>
    </div>

    <footer class="details__footer">
      <div class="container">
        <div class="details__tabs">
          <a class="details__tab details__tab--active" href="#tab1">
            Description
          </a>
          <a class="details__tab" href="#tab2">
            Additional information
          </a>
          <a class="details__tab" href="#tab3">
            Reviews (2)
          </a>
        </div>

        <div class="details__description details__description--active" id="tab1">
          consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo Lorem ipsum dolor sit
          amet, consectetur
          adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>

        <div class="details__description" id="tab2">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore, ab.
        </div>

        <div class="details__description" id="tab3">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae fuga aspernatur corporis assumenda
          repudiandae suscipit dignissimos est exercitationem excepturi quisquam.
        </div>
      </div>
    </footer>
  </div>
</section>