<div class="filter filter-price">
  <span class="filter__title">
    Price
  </span>
  <form class="filter-price__form" action="#">
    <label class="filter-price__label">
      <input class="filter-price__input" type="text" data-min="0" data-max="1000" data-from="100" data-to="500">
    </label>
    <div class="filter-price__footer">
      <div class="filter-price__val">
        $
        <span class="filter-price__from"></span>
      </div>
      <div class="filter-price__val">
        $
        <span class="filter-price__to"></span>
      </div>
    </div>
  </form>
</div>