<div class="filter filter-category">
  <span class="filter__title">
    Category
  </span>
  <form class="filter-category__form" action="#">
    <label class="filter-category__label">
      <input class="filter-category__input" type="checkbox">
      <span class="filter-category__checkbox">
        Chair
      </span>
    </label>

    <label class="filter-category__label">
      <input class="filter-category__input" type="checkbox">
      <span class="filter-category__checkbox">
        Table
      </span>
    </label>

    <label class="filter-category__label">
      <input class="filter-category__input" type="checkbox">
      <span class="filter-category__checkbox">
        Lamp
      </span>
    </label>

    <label class="filter-category__label">
      <input class="filter-category__input" type="checkbox">
      <span class="filter-category__checkbox">
        Watch
      </span>
    </label>

    <label class="filter-category__label">
      <input class="filter-category__input" type="checkbox">
      <span class="filter-category__checkbox">
        Clock
      </span>
    </label>
  </form>
</div>