<div class="filter filter-category filter-brand">
  <span class="filter__title">
    Brand
  </span>
  <form class="filter-category__form" action="#">
    <label class="filter-category__label">
      <input class="filter-category__input" type="checkbox">
      <span class="filter-brand__checkbox">
        RFL
      </span>
      <span class="filter-brand__num">(10)</span>
    </label>

    <label class="filter-category__label">
      <input class="filter-category__input" type="checkbox">
      <span class="filter-brand__checkbox">
        Brothers
      </span>
      <span class="filter-brand__num">(21)</span>
    </label>

    <label class="filter-category__label">
      <input class="filter-category__input" type="checkbox">
      <span class="filter-brand__checkbox">
        Regal
      </span>
      <span class="filter-brand__num">(3)</span>
    </label>

    <label class="filter-category__label">
      <input class="filter-category__input" type="checkbox">
      <span class="filter-brand__checkbox">
        Nadia
      </span>
      <span class="filter-brand__num">(14)</span>
    </label>

    <label class="filter-category__label">
      <input class="filter-category__input" type="checkbox">
      <span class="filter-brand__checkbox">
        Otobi
      </span>
      <span class="filter-brand__num">(6)</span>
    </label>
  </form>
</div>