<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__item footer__item--contact">
        <a class="logo" href="#">
          <svg class="logo__pic">
            <use xlink:href="images/src/sprite.svg#logo"></use>
          </svg>
        </a>

        <address class="footer__address" href="#">
          <span class="footer__address-row">Address:</span>
          4772 Wines Lane
          Houston, TX 77032<br>

          <span class="footer__address-row">Telephone:</span>
          <a class="footer__address-link" href="tel:8323475843">+832-347-5843</a>

          <span class="footer__address-row">Email:</span>
          <a class="footer__address-link" href="mailto:contact@Gle.com">contact@Gle.com</a>
        </address>
      </div>

      <div class="footer__middle">
        <div class="footer__item footer__item--nav">
          <p class="footer__title">Services</p>
          <ul class="footer__list">
            <li class="footer__list-item">
              <a class="footer__link" href="#">About us</a>
            </li>

            <li class="footer__list-item">
              <a class="footer__link" href="#">Return Policy</a>
            </li>

            <li class="footer__list-item">
              <a class="footer__link" href="#">Our Blog</a>
            </li>

            <li class="footer__list-item">
              <a class="footer__link" href="#">Contact Us</a>
            </li>

            <li class="footer__list-item">
              <a class="footer__link" href="#">Terms & Condition</a>
            </li>
          </ul>
        </div>

        <div class="footer__item footer__item--nav">
          <p class="footer__title">Account</p>
          <ul class="footer__list">
            <li class="footer__list-item">
              <a class="footer__link" href="#">Your Account</a>
            </li>

            <li class="footer__list-item">
              <a class="footer__link" href="#">Checkout</a>
            </li>

            <li class="footer__list-item">
              <a class="footer__link" href="#">Login</a>
            </li>

            <li class="footer__list-item">
              <a class="footer__link" href="#">Register</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer__item footer__footer--letter">
        <p class="footer__title">newsletter</p>
        <p class="footer__text">
          Subscribe by our newsletter and get
          update protidin.
        </p>
        <form class="footer__form" action="">
          <label>
            <span class="footer__info">email address</span>
            <input class="footer__input" name="subscribe[email]" type="email" placeholder="Email address" required>
          </label>
          <button class="footer__btn" type="submit">Subscribe</button>
        </form>
      </div>
    </div>

    <div class="footer__bottom">
      <p class="footer__copy">
        ©2020 CopyRight Example. All rights reserved.
      </p>

      <ul class="footer__nav">
        <li class="footer__nav-item">
          <a class="footer__nav-link" href="#">Home</a>
        </li>

        <li class="footer__nav-item">
          <a class="footer__nav-link" href="#">About</a>
        </li>

        <li class="footer__nav-item">
          <a class="footer__nav-link" href="#">Blog</a>
        </li>

        <li class="footer__nav-item">
          <a class="footer__nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</footer>