<div class="form">
  <form class="form__holder" action="#">
    <label class="form__label">
      User name or email address *
      <input class="form__input" name="login[email]" type="text">
    </label>
    <label class="form__label">
      Password *
      <input class="form__input" name="login[password]" type="password" required>
    </label>
    <button class="form__btn form__btn--first" type="submit">Login</button>
    <div class="form__bottom">
      <label class="form__label">
        <input class="form__checkbox" type="checkbox">
        <span class="form__check"></span>
        <span class="form__rem">Remember me</span>
      </label>
      <a class="form__forget" href="#">Lost your password?</a>
    </div>
  </form>
  <p class="form__text">Not registered? No problem</p>
  <a class="form__link" href="#">Create an account</a>
</div>