<header class="header">
  <div class="container-box">
    <div class="header__inner">
      <nav class="nav">
        <a class="logo" href="#">
          <svg class="logo__pic">
            <use xlink:href="images/src/sprite.svg#logo"></use>
          </svg>
        </a>

        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="/home.html">Home +</a>
          </li>

          <li class="nav__item">
            <a class="nav__link" href="/about.html">About</a>
          </li>

          <li class="nav__item">
            <a class="nav__link" href="#">Services</a>
          </li>

          <li class="nav__item">
            <a class="nav__link" href="#">Pages +</a>
          </li>

          <li class="nav__item">
            <a class="nav__link" href="#">News</a>
          </li>

          <li class="nav__item">
            <a class="nav__link" href="#">Comtact</a>
          </li>
        </ul>

        <div class="add-menu">
          <form class="add-menu__form" action="" method="get">
            <input class="add-menu__form-input" name="search" placeholder="Поиск" type="search">
            <button class="add-menu__form-btn" type="submit">
              <svg class="add-menu__form-pic">
                <use xlink:href="images/src/sprite.svg#search"></use>
              </svg>
            </button>
          </form>

          <div class="add-menu__accent">
            <a class=" add-menu__link" href="#">
              <svg class="add-menu__pic">
                <use xlink:href="images/src/sprite.svg#heart"></use>
              </svg>
              <span class="add-menu__num">0</span>
            </a>

            <a class="add-menu__link" href="#">
              <svg class="add-menu__pic">
                <use xlink:href="images/src/sprite.svg#cart"></use>
              </svg>
              <span class="add-menu__num">0</span>
            </a>
          </div>

          <button class="add-menu__btn">
            <svg class="add-menu__pic">
              <use xlink:href="images/src/sprite.svg#menu"></use>
            </svg>
          </button>
        </div>
      </nav>
    </div>
  </div>
</header>