<header class="header">
  <div class="container-box">
    <div class="header__inner">
      <nav class="menu">
        <a class="logo" href="#">
          <img class="logo__pic" src="images/src/logo.svg" alt="Логотип">
        </a>

        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#">Home +</a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">About</a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">Services</a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">Pages +</a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">News</a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">Comtact</a>
          </li>
        </ul>

        <div class="user-nav">
          <a class="user-nav__link user-nav__link--search" href="#">
            <svg class="user-nav__pic">
              <use xlink:href="images/src/sprite.svg#search"></use>
            </svg>
          </a>

          <div class="user-nav__accent" style="background-color: #fcd7b6;">
            <a class=" user-nav__link user-nav__link--inside" href="#">
              <svg class="user-nav__pic">
                <use xlink:href="images/src/sprite.svg#heart"></use>
              </svg>
              <span class="user-nav__num">0</span>
            </a>

            <a class="user-nav__link user-nav__link--inside" href="#">
              <svg class="user-nav__pic">
                <use xlink:href="images/src/sprite.svg#cart"></use>
              </svg>
              <span class="user-nav__num">0</span>
            </a>
          </div>

          <a class="user-nav__link user-nav__link--menu" href="#">
            <svg class="user-nav__pic">
              <use xlink:href="images/src/sprite.svg#menu"></use>
            </svg>
          </a>
        </div>
      </nav>
    </div>
  </div>
</header>