<article class="news">
  <img class="news__pic" src="images/src/our/@@img.jpg" alt="новостное изображение">
  <a class="news__tag">news</a>
  <a class="news__text">
    @@text
  </a>
  <footer class="news__footer">
    <div class="news__info">
      <svg class="news__icon">
        <use xlink:href="images/src/sprite.svg#calendar">
        </use>
      </svg>
      <time class="news__date" datetime="2020-01-28">
        28 JANUARY, 2020
      </time>
    </div>
    <div class="news__info">
      <svg class="news__icon">
        <use xlink:href="images/src/sprite.svg#user-icon">
        </use>
      </svg>
      <span class="news__author">BY ADMIN</span>
    </div>
  </footer>
</article>