<div class="product-pagination">
  <div class="product-pagination__inner">
    <ul class="product-pagination__list">
      <li class="product-pagination__item">
        <a class="product-pagination__link" href="#">1</a>
      </li>
      <li class="product-pagination__item">
        <a class="product-pagination__link" href="#">2</a>
      </li>
      <li class="product-pagination__item">
        <a class="product-pagination__link" href="#">3</a>
      </li>
    </ul>
    <a class="product-pagination__link" href="#">
      next
    </a>
  </div>
</div>