<div class="partners-min">
  <div class="container">
    <div class="partners-min__wrapper">
      <ul class="partners-min__list">
        <li class="partners-min__item">
          <img class="partners-min__pic" src="images/src/partners/partner-1.png" alt="партнер">
        </li>
        <li class="partners-min__item">
          <img class="partners-min__pic" src="images/src/partners/partner-2.png" alt="партнер">
        </li>
        <li class="partners-min__item">
          <img class="partners-min__pic" src="images/src/partners/partner-3.png" alt="партнер">
        </li>
        <li class="partners-min__item">
          <img class="partners-min__pic" src="images/src/partners/partner-4.png" alt="партнер">
        </li>
        <li class="partners-min__item">
          <img class="partners-min__pic" src="images/src/partners/partner-5.png" alt="партнер">
        </li>
      </ul>
    </div>
  </div>
</div>