<div class="partners partners--min">
  <div class="container">
    <div class="partners__wrapper partners__wrapper--min">
      <ul class="partners__list partners__list--min">
        <li class="partners__item">
          <img class="partners__pic" src="images/src/partners/partner-1.png" alt="партнер">
        </li>
        <li class="partners__item">
          <img class="partners__pic" src="images/src/partners/partner-2.png" alt="партнер">
        </li>
        <li class="partners__item">
          <img class="partners__pic" src="images/src/partners/partner-3.png" alt="партнер">
        </li>
        <li class="partners__item">
          <img class="partners__pic" src="images/src/partners/partner-4.png" alt="партнер">
        </li>
        <li class="partners__item">
          <img class="partners__pic" src="images/src/partners/partner-5.png" alt="партнер">
        </li>
      </ul>
    </div>
  </div>
</div>