<arcticle class="post">
  <img class="post__img" src="images/src/posts/@@img.jpg" alt="картинка">
  <div class="post__info">
    <div class="post__info-inner">
      <svg class="post__icon">
        <use xlink:href="images/src/sprite.svg#calendar">
        </use>
      </svg>
      <time class="post__date" datetime="2020-01-28">
        28 JANUARY, 2020
      </time>
    </div>
    <div class="post__info-inner">
      <svg class="post__icon">
        <use xlink:href="images/src/sprite.svg#user-icon">
        </use>
      </svg>
      <span class="post__author">BY ADMIN</span>
    </div>
  </div>

  <h2 class="post__title">
    @@title
  </h2>

  <a class="post__text" href="#">
    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
    enim ad minim
    veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur
    adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna
  </a>

  <a class="post__link" href="#">View More</a>
</arcticle>