<section class="presentaition">
  <div class="container-box">
    <div class="trend-slider">
      <div class="trend-slider__item">
        <div class="container">
          <div class="trend-slider__wrapper">
            <div class="trend-slider__inner">
              <span class="trend-slider__title">
                SMART AND TRENDY
              </span>
              <p class="trend-slider__text">
                Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              </p>
              <a class="trend-slider__link" href="#">Shop Now</a>
            </div>
            <img class="trend-slider__picture" src="/images/src/slide-1.png" alt="слайд">
          </div>
        </div>
      </div>

      <div class="trend-slider__item">
        <div class="container">
          <div class="trend-slider__wrapper">
            <div class="trend-slider__inner">
              <span class="trend-slider__title">
                SMART AND TRENDY
              </span>
              <p class="trend-slider__text">
                Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              </p>
              <a class="trend-slider__link" href="#">Shop Now</a>
            </div>
            <img class="trend-slider__picture" src="/images/src/slide-1.png" alt="слайд">
          </div>
        </div>
      </div>

      <div class="trend-slider__item">
        <div class="container">
          <div class="trend-slider__wrapper">
            <div class="trend-slider__inner">
              <span class="trend-slider__title">
                SMART AND TRENDY
              </span>
              <p class="trend-slider__text">
                Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              </p>
              <a class="trend-slider__link" href="#">Shop Now</a>
            </div>
            <img class="trend-slider__picture" src="/images/src/slide-1.png" alt="слайд">
          </div>
        </div>
      </div>
    </div>

    <ul class="service">
      <li class="service__item">
        <div class="service__inner">
          <div class="service__img-wrapper">
            <svg class="service__img">
              <use xlink:href="images/src/sprite.svg#twfo"></use>
            </svg>
          </div>

          <div class="service__info">
            <span class="service__title">
              Support 24/7.
            </span>
            <p class="service__text">
              Contact us 24 hours a day,
              7 days a week.
            </p>
          </div>
        </div>
      </li>

      <li class="service__item">
        <div class="service__inner">
          <div class="service__img-wrapper">
            <svg class="service__img">
              <use xlink:href="images/src/sprite.svg#track"></use>
            </svg>
          </div>

          <div class="service__info">
            <span class="service__title">
              Delivery.
            </span>
            <p class="service__text">
              Free shipping on all US order.
            </p>
          </div>
        </div>
      </li>

      <li class="service__item">
        <div class="service__inner">
          <div class="service__img-wrapper">
            <svg class="service__img">
              <use xlink:href="images/src/sprite.svg#card"></use>
            </svg>
          </div>

          <div class="service__info">
            <span class="service__title">
              100% Payment secure
            </span>
            <p class="service__text">
              We ensure secure payment
              with PEV.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>