<article class="product @@class">
  <div class="product__wrapper">
    <a class="product__click"><img class="product__pic" src="images/src/products/prod-@@img.jpg" alt="продукт"></a>
    <div class="product__menu">
      <a class="product__link product__link--circle" href="#">
        <svg class="product__icon">
          <use xlink:href="images/src/sprite.svg#search"></use>
        </svg>
      </a>
      <button class="product__btn product__btn--circle" type="button">
        <svg class="product__icon">
          <use xlink:href="images/src/sprite.svg#cart">
          </use>
        </svg>
      </button>
      <button class="product__btn product__btn--circle" type="button">
        <svg class="product__icon">
          <use xlink:href="images/src/sprite.svg#heart"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="product__info">
    <h3 class="product__name">@@name</h3>
    <span class="product__price">$29.00</span>
  </div>
</article>