<div class="recent">
  <span class="recent__title">
    Recent products
  </span>
  <ul class="recent__list">
    <li class="recent__item">
      <div class="recent__img-wrapper">
        <a class="recent__link">
          <img class="recent__pic" src="images/src/prod-card-3.png" alt="товар">
        </a>
      </div>

      <div class="recent__content">
        <a class="recent__name" href="#">
          Pendant lamp
        </a>
        <div class="star" data-rateyo-rating="4"></div>
        <span class="recent__price">$23</span>
      </div>
    </li>

    <li class="recent__item">
      <div class="recent__img-wrapper">
        <a class="recent__link">
          <img class="recent__pic" src="images/src/prod-card-1.png" alt="товар">
        </a>
      </div>

      <div class="recent__content">
        <a class="recent__name" href="#">
          Pendant lamp
        </a>
        <div class="star" data-rateyo-rating="4.5"></div>
        <span class="recent__price">$23</span>
      </div>
    </li>

    <li class="recent__item">
      <div class="recent__img-wrapper">
        <a class="recent__link">
          <img class="recent__pic" src="images/src/prod-card-4.png" alt="товар">
        </a>
      </div>

      <div class="recent__content">
        <a class="recent__name" href="#">
          Pendant lamp
        </a>
        <div class="star" data-rateyo-rating="3.5"></div>
        <span class="recent__price">$23</span>
      </div>
    </li>
  </ul>
</div>