<div class="recents-posts">
  <span class="filter__title">
    Recent Posts
  </span>
  <div class="recents-posts__content">
    <div class="recents-post">
      <img class="recents-post__img" src="images/src/rp1.jpg" alt="картинка">
      <div class="recents-post__body">
        <a class="recents-post__text">
          Corem ipsum dolor tetur adipisicing elit
        </a>
        <time class="recents-post__date">
          <svg class="recents-post__icon">
            <use xlink:href="images/src/sprite.svg#calendar">
            </use>
          </svg>
          28 JANUARY, 2020
        </time>
      </div>
    </div>

    <div class="recents-post">
      <img class="recents-post__img" src="images/src/rp2.jpg" alt="картинка">
      <div class="recents-post__body">
        <a class="recents-post__text" href="#">
          Corem ipsum dolor tetur adipisicing elit
        </a>
        <time class="recents-post__date">
          <svg class="recents-post__icon">
            <use xlink:href="images/src/sprite.svg#calendar">
            </use>
          </svg>
          28 JANUARY, 2020
        </time>
      </div>
    </div>

    <div class="recents-post">
      <img class="recents-post__img" src="images/src/rp3.jpg" alt="картинка">
      <div class="recents-post__body">
        <a class="recents-post__text" href="#">
          Corem ipsum dolor tetur adipisicing elit
        </a>
        <time class="recents-post__date">
          <svg class="recents-post__icon">
            <use xlink:href="images/src/sprite.svg#calendar">
            </use>
          </svg>
          28 JANUARY, 2020
        </time>
      </div>
    </div>

    <div class="recents-post">
      <img class="recents-post__img" src="images/src/rp4.jpg" alt="картинка">
      <div class="recents-post__body">
        <a class="recents-post__text" href="#">
          Corem ipsum dolor tetur adipisicing elit
        </a>
        <time class="recents-post__date">
          <svg class="recents-post__icon">
            <use xlink:href="images/src/sprite.svg#calendar">
            </use>
          </svg>
          28 JANUARY, 2020
        </time>
      </div>
    </div>
  </div>
</div>