<section class="team">
  <div class="container">
    <div class="team__inner">
      <div class="team__text">
        <h2 class="title team-title">Our Team</h2>
        <div class="team__desc-wrapper">
          <p class="team__desc">
            Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusmod tempor inciLorem ipsum
            dolor
            sit amet,
            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim
            ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
        <a class="team__link" href="#">
          Join With US
        </a>
      </div>

      <div class="team__gallery">
        <div class="person-card">
          <img class="person-card__img" src="images/src/team/1.jpg" alt="команда">
          <div class="person-card__bottom">
            <div class="person-card__info">
              <span class="person-card__name">
                Eliza Elliot
              </span>

              <span class="person-card__desc">
                Commodo tempor
              </span>
            </div>

            <ul class="person-card__list">
              <li class="person-card__item">
                <a class="person-card__social-link" href="#">
                  <svg class="person-card__icon">
                    <use xlink:href="images/src/sprite.svg#inst"></use>
                  </svg>
                </a>
                <a class="person-card__social-link" href="#">
                  <svg class="person-card__icon">
                    <use xlink:href="images/src/sprite.svg#google"></use>
                  </svg>
                </a>
              </li>

            </ul>
          </div>
        </div>

        <div class="person-card">
          <img class="person-card__img" src="images/src/team/2.jpg" alt="команда">
          <div class="person-card__bottom">
            <div class="person-card__info">
              <span class="person-card__name">
                Roscoe A.
              </span>

              <span class="person-card__desc">
                Commodo tempor
              </span>
            </div>

            <ul class="person-card__list">
              <li class="person-card__item">
                <a class="person-card__social-link" href="#">
                  <svg class="person-card__icon">
                    <use xlink:href="images/src/sprite.svg#inst"></use>
                  </svg>
                </a>
                <a class="person-card__social-link" href="#">
                  <svg class="person-card__icon">
                    <use xlink:href="images/src/sprite.svg#google"></use>
                  </svg>
                </a>
              </li>

            </ul>
          </div>
        </div>

        <div class="person-card">
          <img class="person-card__img" src="images/src/team/3.jpg" alt="команда">
          <div class="person-card__bottom">
            <div class="person-card__info">
              <span class="person-card__name">
                Ruby M.
              </span>

              <span class="person-card__desc">
                Commodo tempor
              </span>
            </div>

            <ul class="person-card__list">
              <li class="person-card__item">
                <a class="person-card__social-link" href="#">
                  <svg class="person-card__icon">
                    <use xlink:href="images/src/sprite.svg#inst"></use>
                  </svg>
                </a>
                <a class="person-card__social-link" href="#">
                  <svg class="person-card__icon">
                    <use xlink:href="images/src/sprite.svg#google"></use>
                  </svg>
                </a>
              </li>

            </ul>
          </div>
        </div>

        <div class="person-card">
          <img class="person-card__img" src="images/src/team/4.jpg" alt="команда">
          <div class="person-card__bottom">
            <div class="person-card__info">
              <span class="person-card__name">
                Marie F. Bloss
              </span>

              <p class="person-card__desc">
                Commodo tempor
              </p>
            </div>

            <ul class="person-card__list">
              <li class="person-card__item">
                <a class="person-card__social-link" href="#">
                  <svg class="person-card__icon">
                    <use xlink:href="images/src/sprite.svg#inst"></use>
                  </svg>
                </a>
                <a class="person-card__social-link" href="#">
                  <svg class="person-card__icon">
                    <use xlink:href="images/src/sprite.svg#google"></use>
                  </svg>
                </a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>