<div class="terms">
  <div class="terms__wrapper">
    <ol type="01">
      <h2>
        Types of Personal Information We Collect
      </h2>
      <li>
        <p>
          Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in
          reprehenderit in voluptate velit esse cillum dolore
        </p>
      </li>
      <li>
        <p>
          Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in
          reprehenderit in voluptate velit esse cillum dolore
        </p>
      </li>
      <li>
        <p>
          Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </li>
      <li>
        <p>
          Dagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo
          consequat.
        </p>
      </li>
      <li>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        </p>
      </li>
    </ol>
  </div>

  <div class="container">
    <div class="terms__content">
      <h2>How marketprosscom Uses Personal Information</h2>
      <p>
        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
      </p>
    </div>
    <div class="terms__content">
      <h2>How marketprosscom Uses Personal Information</h2>
      <p>
        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
      </p>
    </div>
  </div>
</div>